.firstpara {
    color:blue;
    font-size: 12px;
    text-decoration: double;
}

.secondpara {
    color:crimson;
    font-size: 10px;
    text-shadow: 2px;
}

p{
    color:aquamarine
}

body{
    background-color: rgb(48, 197, 160);
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}